﻿<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from karlomikus.com/saltkin/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Apr 2016 14:51:23 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Saltkin &dash; Responsive Admin &amp; Dashboard UI Template</title>
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,400italic%7cMontserrat:400,700" rel="stylesheet" type="text/css">
    <!-- Icons -->
    <link href="~/Content/typicons.min.css" rel="stylesheet">

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- iCheck - Custom radio/check input -->
    <link href="~/Content/icheck/minimal.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Footable plugin -->
    <link href="~/Content/plugins.min.css" rel="stylesheet">
    <!-- Template -->
    <link href="~/Content/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="js/plugins/shiv.min.js"></script>
      <script src="js/plugins/respond.min.js"></script>
      <script src="js/plugins/excanvas.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Page container -->
    <div class="page-container">
        <!-- Sidebar -->
        <aside id="sidebar">
            <!-- Sidebar header -->
            <header class="sidebar-header">
                <h1><img src="img/logo.png" alt="Saltkin"></h1>
                <a href="#" id="make-compact"><span class="typcn typcn-th-menu"></span></a>
                <a href="#" id="hide-menu"><span class="fa fa-caret-square-o-left"></span></a>
            </header>
            <!-- /Sidebar header -->
            <!-- Sidebar group -->
            <ul class="sidebar-group">
                <li class="sidebar-group-header">NAVIGATION</li>
                <li>
                    <a href="index-2.html"><i class="typcn typcn-home"></i> <span>Dashboard</span></a>
                    <div class="sidebar-link-addon"><span class="badge bg-green">NEW</span></div>
                </li>
                <li class="has-submenu">
                    <a href="#"><i class="typcn typcn-tabs-outline"></i> <span>Layouts</span></a>
                    <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
                    <!-- Sidebar submenu -->
                    <ul class="sidebar-submenu">
                        <li><a href="blank.html">Default blank page</a></li>
                        <li><a href="sidebar_right.html">Sidebar on right</a></li>
                        <li><a href="sidebar_compact.html">Compact sidebar</a></li>
                        <li><a href="boxed.html">Boxed</a></li>
                    </ul>
                    <!-- /Sidebar submenu -->
                </li>
                <li class="has-submenu">
                    <a href="#"><i class="typcn typcn-compass"></i> <span>Elements</span></a>
                    <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
                    <!-- Sidebar submenu -->
                    <ul class="sidebar-submenu">
                        <li><a href="buttons.html">Buttons</a></li>
                        <li><a href="tables.html">Tables</a></li>
                        <li><a href="calendar.html">Calendar</a></li>
                        <li><a href="grid.html">Grid</a></li>
                        <li><a href="panels.html">Panels</a></li>
                        <li><a href="charts.html">Charts</a></li>
                        <li><a href="bootstrap.html">Bootstrap elements</a></li>
                    </ul>
                    <!-- /Sidebar submenu -->
                </li>
                <li class="has-submenu">
                    <a href="#"><i class="typcn typcn-clipboard"></i> <span>Forms</span></a>
                    <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
                    <!-- Sidebar submenu -->
                    <ul class="sidebar-submenu">
                        <li><a href="forms.html">Form layouts</a></li>
                        <li><a href="forms_elements.html">Form elements</a></li>
                    </ul>
                    <!-- /Sidebar submenu -->
                </li>
                <li>
                    <a href="email.html"><i class="typcn typcn-mail"></i> <span>Email</span></a>
                    <div class="sidebar-link-addon"><span class="badge">12</span></div>
                </li>
                <li class="has-submenu">
                    <a href="#"><i class="typcn typcn-document-text"></i> <span>Pages</span></a>
                    <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
                    <!-- Sidebar submenu -->
                    <ul class="sidebar-submenu">
                        <li><a href="error.html">Error page</a></li>
                        <li><a href="login.html">Login and register</a></li>
                        <li><a href="search.html">Search results</a></li>
                    </ul>
                    <!-- /Sidebar submenu -->
                </li>
            </ul>
            <!-- /Sidebar group -->
            <!-- Sidebar group -->
            <ul class="sidebar-group">
                <li class="sidebar-group-header">FAVORITES</li>
                <li><a href="#"><i class="typcn typcn-starburst text-red"></i> <span>Web design</span></a></li>
                <li><a href="#"><i class="typcn typcn-starburst text-blue"></i> <span>Technology</span></a></li>
                <li><a href="#"><i class="typcn typcn-starburst text-green"></i> <span>Gadgets</span></a></li>
            </ul>
            <!-- /Sidebar group -->
            <br>
            <!-- Sidebar panel -->
            <div class="sidebar-panel">
                <h4>Upgrade</h4>
                <p>
                    Upgrade to premium to get rid of the ads!
                    <br>
                    <button class="btn btn-primary btn-block">Learn more...</button>
                </p>
            </div>
            <!-- /Sidebar panel -->
            <!-- Sidebar panel -->
            <div class="sidebar-panel">
                <button class="btn btn-primary btn-block no-margin"><i class="typcn typcn-plus"></i> Create invoice</button>
            </div>
            <!-- /Sidebar panel -->
        </aside>
        <!-- /Sidebar -->
        <!-- Content -->
        <div id="content">
            <!-- Header -->
            <nav class="header-site">
                <div class="container-fluid">
                    <!-- Page title and breadcrumb navigation -->
                    <div class="page-title">
                        <h4><a href="#" id="toggle-menu"><i class="typcn typcn-th-menu"></i></a> <span>AD SOYAD :Tahir Doğan Numara : G141210065</span></h4>
                        <nav>
                            <a href="#">Dashboard</a>
                            <span class="typcn typcn-chevron-right"></span>
                            <a href="#">Page title</a>
                        </nav>
                    </div>
                    <!-- /Page title and breadcrumb navigation -->
                    <!-- Header navigation / icons -->
                    <ul class="header-nav navbar-right">
                        <!-- Messages -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="typcn typcn-messages"></span></a>
                            <span class="badge">3</span>
                            <div class="dropdown-menu panel panel-messages dropdown-arrow pull-right">
                                <div class="panel-heading">MESSAGES <span class="badge pull-right bg-orange">NEW</span></div>
                                <div class="panel-body scrollbox">
                                    <ul class="chat">
                                        <li class="left clearfix">
                                            <a href="#">
                                                <span class="chat-img pull-left">
                                                    <img src="placeholders/user1.jpg" alt="User Avatar" class="img-circle">
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <strong class="primary-font">Jon Bateman</strong>
                                                        <small class="pull-right text-muted">
                                                            <span class="glyphicon glyphicon-time"></span>12 mins ago
                                                        </small>
                                                    </div>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibend...
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="left clearfix">
                                            <a href="#">
                                                <span class="chat-img pull-left">
                                                    <img src="placeholders/user2.jpg" alt="User Avatar" class="img-circle">
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <strong class="primary-font">Sam Smalls</strong>
                                                        <small class="pull-right text-muted">
                                                            <span class="glyphicon glyphicon-time"></span>12 mins ago
                                                        </small>
                                                    </div>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibend...
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="left clearfix">
                                            <a href="#">
                                                <span class="chat-img pull-left">
                                                    <img src="placeholders/user1.jpg" alt="User Avatar" class="img-circle">
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <strong class="primary-font">The Flash</strong>
                                                        <small class="pull-right text-muted">
                                                            <span class="glyphicon glyphicon-time"></span>12 mins ago
                                                        </small>
                                                    </div>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibend...
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="left clearfix">
                                            <a href="#">
                                                <span class="chat-img pull-left">
                                                    <img src="placeholders/user2.jpg" alt="User Avatar" class="img-circle">
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <strong class="primary-font">Bruce Nolan</strong>
                                                        <small class="pull-right text-muted">
                                                            <span class="glyphicon glyphicon-time"></span>12 mins ago
                                                        </small>
                                                    </div>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibend...
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <footer class="panel-footer text-center">
                                    <a href="#">View all messages</a>
                                </footer>
                            </div>
                        </li>
                        <!-- /Messages -->
                        <!-- Notifications -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="typcn typcn-bell"></span></a>
                            <div class="dropdown-menu panel panel-notifications dropdown-arrow pull-right">
                                <div class="panel-heading">NOTIFICATIONS</div>
                                <div class="panel-body scrollbox">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="typcn typcn-heart bg-red"></i>
                                                        New likes
                                                    </span>
                                                    <span class="badge badge-gray pull-right">22</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="typcn typcn-user bg-blue"></i>
                                                        New users
                                                    </span>
                                                    <span class="badge badge-gray pull-right">6</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="typcn typcn-image bg-green"></i>
                                                        New pictures
                                                    </span>
                                                    <span class="badge badge-gray pull-right">125</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="typcn typcn-heart bg-orange"></i>
                                                        New likes
                                                    </span>
                                                    <span class="badge badge-gray pull-right">22</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="typcn typcn-user bg-purple"></i>
                                                        New users
                                                    </span>
                                                    <span class="badge badge-gray pull-right">6</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="typcn typcn-image bg-yellow"></i>
                                                        New pictures
                                                    </span>
                                                    <span class="badge badge-gray pull-right">125</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- /Notifications -->
                        <!-- Profile -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="placeholders/avatar.jpg" alt="User avatar"></a>
                            <ul class="dropdown-menu dropdown-arrow pull-right">
                                <li><a href="#"><span class="typcn typcn-edit"></span> Edit profile</a></li>
                                <li><a href="#"><span class="typcn typcn-cog"></span> Settings</a></li>
                                <li><a href="#"><span class="typcn typcn-contacts"></span> Contacts</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><span class="typcn typcn-power"></span> Sign out</a></li>
                            </ul>
                        </li>
                        <!-- /Profile -->
                    </ul>
                    <!-- /Header navigation / icons -->
                </div>
            </nav>
            <!-- /Header -->
            <!-- Content start -->
            @RenderBody()
        </div>
        <!-- /Content -->
    </div>
    <!-- /Page container -->
    <!-- PLUGINS ALL -->

    <script src="~/scripts/plugins/jquery.min.js"></script>
    <script src="~/scripts/plugins/modernizr.min.js"></script>
    <!-- Bootstrap core -->
    <script src="~/scripts/plugins/bootstrap.min.js"></script>
    <!-- Custom scrollbar -->
    <script src="~/scripts/plugins/enscroll.min.js"></script>
    <!-- Dynamic tables -->
    <script src="~/scripts/plugins/footable.min.js"></script>
    <!-- Knob / Donut charts -->
    <script src="~/scripts/plugins/knob.min.js"></script>
    <!-- Rickshaw graphs & charts -->
    <script src="~/scripts/plugins/sparkline.min.js"></script>
    <script src="~/scripts/plugins/rickshaw/d3.v3.js"></script>
    <script src="~/scripts/plugins/rickshaw/rickshaw.min.js"></script>
    <!-- Flot -->
    <script src="~/scripts/plugins/flot.min.js"></script>
    <!-- Custom checkboxes and radio input -->
    <script src="~/scripts/plugins/icheck.min.js"></script>
    <!-- Page specific -->
    <script src="~/scripts/page-dashboard.js"></script>
    <!-- Site -->
    <script src="~/scripts/main.js"></script>
</body>
<!-- Mirrored from karlomikus.com/saltkin/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Apr 2016 14:51:58 GMT -->
</html>