﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Statistics panels -->
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-stat">
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="stat-icon bg-dark pull-left"><i class="typcn typcn-user"></i></div>
                        <div class="stat-info pull-left"><h4><small>NEW USERS</small><br>46342</h4></div>
                        <span class="typcn typcn-arrow-up pull-right text-green"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-stat panel-alt bg-purple">
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="stat-icon bg-shade pull-left"><i class="typcn typcn-gift"></i></div>
                        <div class="stat-info pull-left"><h4><small>NEW GIFTS</small><br>1000</h4></div>
                        <span class="typcn typcn-plus pull-right"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-stat">
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="stat-icon bg-red pull-left"><i class="typcn typcn-clipboard"></i></div>
                        <div class="stat-info pull-left"><h4><small>PENDING ORDERS</small><br>43</h4></div>
                        <span class="typcn typcn-arrow-down pull-right text-red"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-stat">
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="stat-icon bg-green pull-left"><i class="typcn typcn-chart-bar"></i></div>
                        <div class="stat-info pull-left"><h4><small>WITH CHART</small><br>$10.500</h4></div>
                        <span class="typcn typcn-arrow-up pull-right text-green"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Statistics panels -->
    <div class="row">
        <!-- Status panels -->
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-status">
                        <div class="panel-heading"><h3>Monthly balance</h3></div>
                        <div class="panel-body text-red">
                            $4000
                        </div>
                        <div class="panel-footer">
                            <ul class="clearfix">
                                <li class="pull-left"><a href="#">ORDERS</a></li>
                                <li class="pull-right"><a href="#">SETTINGS</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-status">
                        <div class="panel-heading"><h3>Unfinished tasks</h3></div>
                        <div class="panel-body text-green">
                            7<span class="total-tasks">/12</span>
                        </div>
                        <div class="panel-footer">
                            <ul class="clearfix">
                                <li class="pull-left"><a href="#">TASKS</a></li>
                                <li class="pull-right"><a href="#">SETTINGS</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Status panels -->
        <!-- Analytics -->
        <div class="col-md-9">
            <div class="panel panel-analytics">
                <div class="panel-heading">Analytics</div>
                <div class="panel-body">
                    <div class="analytics-info clearfix">
                        <h3 class="pull-left">Monday<br><small>15 Jaunary, 2014</small></h3>
                        <h3 class="pull-right text-right">+400k<br><small><i class="typcn typcn-arrow-up"></i>14%</small></h3>
                    </div>
                    <div id="chart"></div>
                </div>
            </div>
        </div>
        <!-- /Analytics -->
    </div>
    <div class="row">
        <!-- Tasks -->
        <div class="col-md-3">
            <div class="panel panel-tasks">
                <div class="panel-heading bg-purple">Current task</div>
                <ul class="panel-body">
                    <li>
                        <a href="#" class="bg-purple current-task">
                            <span class="typcn typcn-chevron-right"></span>
                            Finish frontpage design and implementation
                        </a>
                    </li>
                    <li>
                        <a href="#" class="priority-high">
                            Create windows phone 8.1 app
                        </a>
                        <input type="checkbox">
                    </li>
                    <li>
                        <a href="#" class="priority-medium">
                            Buy new socks
                        </a>
                        <input type="checkbox">
                    </li>
                    <li>
                        <a href="#" class="priority-low">
                            Stop spying other people dreams
                        </a>
                        <input type="checkbox">
                    </li>
                    <li>
                        <a href="#" class="priority-delayed">
                            Lanuch spaceship into space
                        </a>
                        <input type="checkbox">
                    </li>
                    <li>
                        <a href="#" class="task-done">
                            Create a few new pages
                        </a>
                        <input type="checkbox">
                    </li>
                </ul>
            </div>
        </div>
        <!-- /Tasks -->
        <!-- User panels -->
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">User of the month</div>
                <div class="panel-body">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img src="placeholders/user3.jpg" alt="User Avatar" class="img-circle">
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">George Formel<br><small>Senior developer</small></h3>
                            <p class="pull-right">
                                <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>
                                <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-heart"></span> Favorite</a>
                                <a href="#" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-ban-circle"></span> Unfollow</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Profile card</div>
                <div class="panel-body">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img src="placeholders/user4.jpg" alt="User Avatar" class="img-circle">
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Michael Gad<br><small>Junior developer</small></h3>
                            <p class="pull-right">
                                <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>
                                <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-heart"></span> Favorite</a>
                                <a href="#" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-plus"></span> Follow</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /User panels -->
        <!-- Messages/Chat -->
        <div class="col-md-4">
            <div class="panel panel-default panel-chat">
                <div class="panel-heading">Admin chat</div>
                <div class="panel-body">
                    <ul class="chat">
                        <li class="left clearfix">
                            <span class="chat-img pull-left">
                                <img src="placeholders/user1.jpg" alt="User Avatar" class="img-circle">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Patrick Bateman</strong>
                                    <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago
                                    </small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix">
                            <span class="chat-img pull-right">
                                <img src="placeholders/user2.jpg" alt="Admin Avatar" class="img-circle">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                                    <strong class="pull-right primary-font">Jon Snowman</strong>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="left clearfix">
                            <span class="chat-img pull-left">
                                <img src="placeholders/user1.jpg" alt="User Avatar" class="img-circle">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Patrick Bateman</strong>
                                    <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago
                                    </small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix">
                            <span class="chat-img pull-right">
                                <img src="placeholders/user2.jpg" alt="Admin Avatar" class="img-circle">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                                    <strong class="pull-right primary-font">Jon Snowman</strong>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="left clearfix">
                            <span class="chat-img pull-left">
                                <img src="placeholders/user1.jpg" alt="User Avatar" class="img-circle">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Patrick Bateman</strong>
                                    <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago
                                    </small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix">
                            <span class="chat-img pull-right">
                                <img src="placeholders/user2.jpg" alt="Admin Avatar" class="img-circle">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                                    <strong class="pull-right primary-font">Jon Snowman</strong>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" class="form-control input-sm" placeholder="Type your message here..." type="text">
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Messages/Chat -->
    </div>
    <div class="row">
        <!-- Reminder -->
        <div class="col-md-4">
            <div class="panel panel-default panel-reminder">
                <div class="panel-heading">Office meeting</div>
                <div class="panel-body">
                    <h4><span class="glyphicon glyphicon-time"></span> 12:00</h4>
                    <p>Conference room</p>
                </div>
                <span class="typcn typcn-bell icon-bg"></span>
            </div>
        </div>
        <!-- /Reminder -->
        <!-- Mini graph -->
        <div class="col-md-4">
            <div class="panel panel-inverse panel-default">
                <div class="panel-heading bg-red">Sales <span class="pull-right">+24% ($236k)</span></div>
                <div class="panel-body bg-red">
                    <div id="sale-chart" style="width:100%; height:70px;"></div>
                </div>
            </div>
        </div>
        <!-- /Mini graph -->
        <!-- Mini graph -->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Stocks</div>
                <div class="panel-body">
                    <div class="clearfix stock-info">
                        <h1 class="pull-left"><i class="glyphicon glyphicon-chevron-up text-green"></i> 7.21</h1>
                        <p class="pull-right text-right">+3,06<br><strong class="text-green">+0.14%</strong></p>
                    </div>
                    <div class="progress" style="margin: 0">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Mini graph -->
    </div>
</div>